<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audit Dashboard</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../../css/style.css" rel="stylesheet">
    <link href="audit.css" rel="stylesheet">
</head>
<body>
    <header class="audit-header">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="home.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="audit.html" class="nav-link active" aria-current="page">Audit</a></li>
        </ul>
    </header>
    <main class="audit-content">
        <h1>Audit Dashboard</h1>
        <form id="audit-form">
            <div class="audit-form-header">
                <div>
                    <label for="auditor-name">Name:</label>
                    <input type="text" id="auditor-name" name="auditor-name" placeholder="Name" required>
                </div>
                <div>
                    <label for="location">Location:</label>
                    <select id="location" name="location" required>
                        <option value="" disabled selected>Select</option>
                        <option value="Markham">Markham</option>
                        <option value="Toronto">Toronto</option>
                        <option value="Ajax">Ajax</option>
                        <option value="Brampton">Brampton</option>
                        <option value="Oshawa">Oshawa</option>
                    </select>
                    <button type="button" class="btn" id="add-location-button"><i class="fa-solid fa-plus"></i></button>
                </div>
                <div>
                    <label for="audit-form-date">Date:</label>
                    <input type="date" id="audit-form-date" name="date" placeholder="Audit Date">
                </div>
            </div>
            <div class="audit-form-question">
                <p>Are fire extinguishers inspected?</p>
                <label><input type="radio" name="question-1" value="Poor">Poor</label>
                <label><input type="radio" name="question-1" value="Fair">Fair</label>
                <label><input type="radio" name="question-1" value="Good">Good</label>
                <label><input type="radio" name="question-1" value="Very Good">Very Good</label>
                <label><input type="radio" name="question-1" value="Excellent">Excellent</label>
                <label><input type="radio" name="question-1" value="N/A">N/A</label>
            </div>
            <div class="audit-form-question">
                <p>Is the area clean?</p>
                <label><input type="radio" name="question-2" value="Poor">Poor</label>
                <label><input type="radio" name="question-2" value="Fair">Fair</label>
                <label><input type="radio" name="question-2" value="Good">Good</label>
                <label><input type="radio" name="question-2" value="Very Good">Very Good</label>
                <label><input type="radio" name="question-2" value="Excellent">Excellent</label>
                <label><input type="radio" name="question-2" value="N/A">N/A</label>
            </div>
            <div class="audit-form-question">
                <p>Are emergency exits clearly marked and unobstructed?</p>
                <label><input type="radio" name="question-3" value="Poor">Poor</label>
                <label><input type="radio" name="question-3" value="Fair">Fair</label>
                <label><input type="radio" name="question-3" value="Good">Good</label>
                <label><input type="radio" name="question-3" value="Very Good">Very Good</label>
                <label><input type="radio" name="question-3" value="Excellent">Excellent</label>
                <label><input type="radio" name="question-3" value="N/A" class="not-applicable">N/A</label>
            </div>
            <div class="audit-form-question">
                <p>Are surveillance cameras operational and covering key areas?</p>
                <label><input type="radio" name="question-4" value="Poor">Poor</label>
                <label><input type="radio" name="question-4" value="Fair">Fair</label>
                <label><input type="radio" name="question-4" value="Good">Good</label>
                <label><input type="radio" name="question-4" value="Very Good">Very Good</label>
                <label><input type="radio" name="question-4" value="Excellent">Excellent</label>
                <label><input type="radio" name="question-4" value="N/A">N/A</label>
            </div>
            <div class="audit-form-question">
                <p>Are licenses and permits current and displayed as required?</p>
                <label><input type="radio" name="question-5" value="Poor">Poor</label>
                <label><input type="radio" name="question-5" value="Fair">Fair</label>
                <label><input type="radio" name="question-5" value="Good">Good</label>
                <label><input type="radio" name="question-5" value="Very Good">Very Good</label>
                <label><input type="radio" name="question-5" value="Excellent">Excellent</label>
                <label><input type="radio" name="question-5" value="N/A">N/A</label>
            </div>
            <div class="audit-form-notes">
                <label for="notes" style="display: block;">Notes:</label>
                <textarea id="notes" name="notes" rows="7" cols="50"></textarea>
            </div>
            <div class="buttons">
                <button type="submit" class="btn">Submit Audit</button>
                <button type="reset" class="btn">Reset</button>
                <button type="button" class="btn" id="generate-button">Generate Audit</button>
            </div>
        </form>
    </main>
    <footer class="audit-footer">
        
    </footer>
</body>
<script src="https://cdn.sheetjs.com/xlsx-0.19.3/package/dist/xlsx.full.min.js"></script>
<script type="module" src="audit.js"></script>
</html>